@import './../../../../styles.scss';

header {
	@include dFlex($jc: space-between);
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	padding: 0 60px;
	.logo_box {
		@include dFlex($ai: flex-end);
		height: 100%;
		img {
			width: 100px;
		}
	}
	// responsive
	@include break(sm) {
		height: auto;
		@include dFlex();
		.logo_box {
			@include dFlex($jc: flex-start, $ai: flex-start);
			width: 362px;
			height: 100%;
			margin-top: 32px;
			img {
				width: 64px;
			}
		}
	}
}

.signup_box {
	@include dFlex();
	gap: 16px;
	.button_blue {
		@include buttonBlue();
	}
	// responsive
	@include break(sm) {
		display: none;
	}
}
