<section class="dashboard_head">
	<h1>Join 360</h1>
	<div class="separator_vert_light_blue"></div>
	<h2>Key Metrics at a Glance</h2>
</section>
<section class="dashboard_body">
	<div class="information_cards">
		@for (card of cards; track card) {
		<div class="{{ card.name }} card">
			@if ($index <= 2) {
			<img src="assets/img/{{ card.name }}.svg" />
			}
			<div class="card_information">
				<span class="amount">{{ card.amount }}</span>
				<span class="description">{{ card.description }}</span>
			</div>
			@if (card.name === 'urgent') {
			<div class="separator_vert_light_grey"></div>
			<div class="deadline">
				<span class="date">October 16, 2022</span>
				<span>Upcoming Deadline</span>
			</div>
			}
		</div>
		}
	</div>
	<div class="greeting">
		<span>Good morning,</span>
		<span>Sofia Müller</span>
	</div>
</section>
