<section class="pre_headline">
	<h1>Log in</h1>
	<div class="separator"></div>
</section>
<section class="pre_body">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
		<div class="form_element">
			<div class="input_element" [ngClass]="{ invalid: utilityService.formInvalid(loginForm.controls.email) }">
				<input type="email" placeholder="Email" formControlName="email" (focus)="dbService.resetBackendErrors()" />
				<div class="input_img">
					<img src="assets/img/mail.svg" />
				</div>
			</div>
			<div class="element_errors">
				@if (utilityService.formInvalid(loginForm.controls.email)) { @if (loginForm.controls.email.errors?.['required']) {
				<span class="error_message">Please enter an email address.</span>
				} @if (loginForm.controls.email.errors?.['email']) {
				<span class="error_message"> This is not a valid email address. </span>
				} }
			</div>
		</div>
		<div class="form_element">
			<div class="input_element" [ngClass]="{ invalid: utilityService.formInvalid(loginForm.controls.password) }">
				<input type="{{ utilityService.passwordType }}" placeholder="Password" formControlName="password" (focus)="utilityService.handlePasswordFieldFocus()" />
				<div class="input_img functional">
					<img src="{{ utilityService.passwordIcon }}" (click)="utilityService.handlePasswordMasking()" />
				</div>
			</div>
			<div class="element_errors">
				@if (utilityService.formInvalid(loginForm.controls.password)) { @if (loginForm.controls.password.errors?.['required']) {
				<span class="error_message">Please enter a password.</span>
				} @if (loginForm.controls.password.errors?.['minlength']) {
				<span class="error_message"> The password must be at least 6 characters long. </span>
				} }
			</div>
		</div>

		<div class="checkbox_with_spinner">
			<div class="spinner_container">
				@if (utilityService.loading) {
				<img src="assets/img/spinner_pale_blue.gif" class="loading_spinner" />
				}
			</div>
			<div class="checkbox_element">
				<input type="checkbox" formControlName="rememberMe" />
				<span>Remember me</span>
			</div>
		</div>
		<div class="backend_errors">
			@for (error of dbService.backendErrorsSig(); track $index) {
			<span class="backend_error">{{ error }}</span
			><br />
			}
		</div>
		<div class="form_button_wrap">
			<button class="button_blue" type="submit" [disabled]="!loginForm.valid">Log in</button>
			<button class="button_white" type="button" (click)="loginGuest()">Guest Log in</button>
		</div>
	</form>
</section>
