$breakpoints: (
	xxs: 480px,
	xs: 768px,
	sm: 1024px,
	md1: 1280px,
	md2: 1366px,
	md3: 1440px,
	lg: 1600px,
	xl: 1920px,
);

@mixin break($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$max-width: map-get($breakpoints, $breakpoint);
		@media screen and (max-width: $max-width) {
			@content;
		}
	} @else {
		@error "Invalid breakpoint: #{$breakpoint}.";
	}
}

@mixin dFlex($fd: row, $jc: center, $ai: center) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
}

@mixin font($weight: 400, $size: 16px, $color: black) {
	font-variation-settings: 'wght' $weight;
	font-weight: $weight;
	font-size: $size;
	color: $color;
}

@mixin buttonBlue($height: 56px) {
	@include dFlex();
	@include font($size: 21px, $weight: 700, $color: white);
	height: $height;
	gap: 4px;
	padding: 0px 16px;
	background-color: $pale-blue;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
	&:enabled:hover {
		background-color: $light-blue;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&:active {
		background-color: $dark-blue;
	}
	&:disabled {
		background-color: $disabled;
	}
	// responsive
	@include break(sm) {
		@include font($size: 16px, $weight: 700, $color: white);
		height: calc($height - 8px);
	}
}

@mixin buttonWhite($height: 56px) {
	@include dFlex();
	@include font($size: 21px, $color: $pale-blue);
	height: $height;
	gap: 4px;
	padding: 0px 16px;
	background-color: transparent;
	border: 1px solid $pale-blue;
	border-radius: 8px;
	text-decoration: none;
	cursor: pointer;
	img {
		filter: invert(17%) sepia(6%) saturate(2976%) hue-rotate(176deg) brightness(100%) contrast(91%);
	}
	&:enabled:hover {
		border: 1px solid $light-blue;
		color: $light-blue;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		img {
			filter: invert(63%) sepia(70%) saturate(2190%) hue-rotate(165deg) brightness(92%) contrast(91%);
		}
	}
	&:active {
		border: 1px solid $dark-blue;
		color: $dark-blue;
		img {
			filter: invert(9%) sepia(10%) saturate(6849%) hue-rotate(189deg) brightness(93%) contrast(99%);
		}
	}
	&:disabled {
		border: 1px solid $disabled;
		color: $disabled;
	}
	// responsive
	@include break(sm) {
		@include font($size: 16px, $color: $pale-blue);
		height: calc($height - 8px);
	}
}

@mixin contactInitials($fs: 12px, $fw: 400, $wh: 42px, $bs: 2px) {
	@include dFlex();
	@include font($size: $fs, $weight: $fw, $color: white);
	width: $wh;
	min-width: $wh;
	height: $wh;
	border: $bs solid white;
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

@mixin separator($width, $height, $color) {
	width: $width;
	height: $height;
	background-color: $color;
	border-radius: 32px;
}
