<aside>
	<section class="sidebar_top">
		<img src="assets/img/logo_inverted.svg" />
		<nav>
			<a routerLink="/home"><img src="assets/img/summary.svg" /><span>Summary</span></a>
			<a routerLink="/home/add-task"><img src="assets/img/add_task.svg" /><span>Add Task</span></a>
			<a routerLink="/home/board"><img src="assets/img/board.svg" /><span>Board</span></a>
			<a routerLink="/home/contacts"><img src="assets/img/contacts.svg" /><span>Contacts</span></a>
		</nav>
	</section>
	<section class="sidebar_bottom">
		<nav class="legals_nav">
			<a routerLink="/privacy">Privacy Policy</a>
			<a routerLink="/legal">Legal Notice</a>
		</nav>
	</section>
</aside>
